<!-- The user's team shows up -->
<section class="last-section">
    <div class="container">
        <div class="pokemon-grid">
            <div class="box">
                <!-- Test Image -->
                <img src="/assets/img/venusaur-about.png" alt="Venusaur">
                <!-- Name -->
                <h3>Pokemon name</h3>
                <p>
                    <!-- Type -->
                    <b>Type:</b> fill in info.
                </p>
                <p>
                    <!-- Height -->
                    <b>Height:</b> fill in info.
                </p>
                <p>
                    <!-- Health -->
                    <b>Health:</b> fill in info.
                </p>
                <p>
                    <!-- Att. Power -->
                    <b>Attack Power:</b> fill in info.
                </p>
            </div>

            <div class="box">
                <!-- Test Image -->
                <img src="/assets/img/venusaur-about.png" alt="Venusaur">
                <!-- Name -->
                <h3>Pokemon name</h3>
                <p>
                    <!-- Type -->
                    <b>Type:</b> fill in info.
                </p>
                <p>
                    <!-- Height -->
                    <b>Height:</b> fill in info.
                </p>
                <p>
                    <!-- Health -->
                    <b>Health:</b> fill in info.
                </p>
                <p>
                    <!-- Att. Power -->
                    <b>Attack Power:</b> fill in info.
                </p>
            </div>


            <div class="box">
                <!-- Test Image -->
                <img src="/assets/img/venusaur-about.png" alt="Venusaur">
                <!-- Name -->
                <h3>Pokemon name</h3>
                <p>
                    <!-- Type -->
                    <b>Type:</b> fill in info.
                </p>
                <p>
                    <!-- Height -->
                    <b>Height:</b> fill in info.
                </p>
                <p>
                    <!-- Health -->
                    <b>Health:</b> fill in info.
                </p>
                <p>
                    <!-- Att. Power -->
                    <b>Attack Power:</b> fill in info.
                </p>
            </div>

            <div class="box">
                <!-- Test Image -->
                <img src="/assets/img/venusaur-about.png" alt="Venusaur">
                <!-- Name -->
                <h3>Pokemon name</h3>
                <p>
                    <!-- Type -->
                    <b>Type:</b> fill in info.
                </p>
                <p>
                    <!-- Height -->
                    <b>Height:</b> fill in info.
                </p>
                <p>
                    <!-- Health -->
                    <b>Health:</b> fill in info.
                </p>
                <p>
                    <!-- Att. Power -->
                    <b>Attack Power:</b> fill in info.
                </p>
            </div>

            <div class="box">
                <!-- Test Image -->
                <img src="/assets/img/venusaur-about.png" alt="Venusaur">
                <!-- Name -->
                <h3>Pokemon name</h3>
                <p>
                    <!-- Type -->
                    <b>Type:</b> fill in info.
                </p>
                <p>
                    <!-- Height -->
                    <b>Height:</b> fill in info.
                </p>
                <p>
                    <!-- Health -->
                    <b>Health:</b> fill in info.
                </p>
                <p>
                    <!-- Att. Power -->
                    <b>Attack Power:</b> fill in info.
                </p>
            </div>

            <div class="box">
                <!-- Test Image -->
                <img src="/assets/img/venusaur-about.png" alt="Venusaur">
                <!-- Name -->
                <h3>Pokemon name</h3>
                <p>
                    <!-- Type -->
                    <b>Type:</b> fill in info.
                </p>
                <p>
                    <!-- Height -->
                    <b>Height:</b> fill in info.
                </p>
                <p>
                    <!-- Health -->
                    <b>Health:</b> fill in info.
                </p>
                <p>
                    <!-- Att. Power -->
                    <b>Attack Power:</b> fill in info.
                </p>
            </div>
        </div>
    </div>
</section>