* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar-brand img {
    margin-bottom: 4px;
}


.nav-item {
    margin-bottom: 2px;
}

.title {
    margin-bottom: 30px;
}

header h1 {
    margin: auto;
    width: 50%;
    padding-top: 20px;
}

header h3 {
    margin: auto;
    width: 50%;
}

.title a {
    color: #4b6584;
}

.other-info {
    margin: auto;
}

.container {
    margin-bottom: 50px;
    /* border: 3px solid green; */
}

.add-to-team-button-container {
    margin: auto;
    position:relative;
    width: 50%;
    text-align: center;
}

.add-to-team-button-container .add-to-team-btn{
    color: red;
}

.container-about-image-one {
    margin-bottom: 50px;
    /* border: 3px solid red; */
}

.container-about-image-two {
    margin-top: 40px;
    margin-bottom: 70px;
    /* border: 3px solid red; */
}

.container-about-image-three {
    margin-bottom: 50px;
    /* border: 3px solid red; */
}

.container-about-image-two img{
    margin-bottom: 50px;
}

.container-about-image-three img{
    margin-bottom: 10px;
}

.images {
    margin: auto;
}

.images a {
    color: #4b6584;
}

.images .container-about-image-one cite {
    opacity: .7;
    display: block;
    text-align: center;
    margin: auto;
}

.images .container-about-image-two cite {
    opacity: .7;
    display: block;
    text-align: center;
    margin: auto;
}

.images .container-about-image-three cite {
    opacity: .7;
    display: block;
    text-align: center;
    margin: auto;
}

.last-section {
    flex: 1;
}

.last-section a:hover {
    color: grey;
}

.card {
    margin: 20px auto 0;
    float: none;
    margin-bottom: 10px;
}

.last-section .container a {
    color: #4b6584;
}

footer {
    display: block;
    margin: auto;
    flex-shrink: 0;
}   

footer .row {
    margin-left: 12%;
}

footer img {
    margin-bottom: 6px;
}





