<!-- Card section -->
<section class="last-section">
    <!-- Bootstrap Card -->
    <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="assets/img/pokemon-art-4.jpeg" alt="Grass Types">
        <div class="card-body">
            <!-- Card Title -->
            <h5 class="card-title">Search & Browse for your Pokemon!</h5>
            <!-- Card Text -->
            <p class="card-text">Have a certain Pokemon in mind? You can view all of its information by searching for it. Just want to browse? You can do that too!</p>
            <a [routerLink]="['../search']" class="btn btn-secondary">Search</a>
            <a [routerLink]="['../browse']" class="btn btn-secondary">Browse</a>
        </div>
    </div>
</section>